/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@import url(https://fonts.googleapis.com/css2?family=Poppins);
:root{
    --ion-font-family: 'Poppins';
}

body{
    --ion-background-color: white;
    --ion-text-color:black;
    font-family: var(--ion-font-family) !important;
}
